    <group>
        <field>
        <name>X</name>
        </field>
        </group>
        <fields>
        <field>
        <aggregate>yLead1</aggregate>
        <type>LEAD</type>
        <subject>Y</subject>
        </field>
        </fields>
