    <group>
        <field>
        <name>X</name>
        </field>
        </group>
        <fields>
        <field>
        <aggregate>yLead1</aggregate>
        <type>LEAD</type>
        <subject>Y</subject>
        <valuefield>1</valuefield>
        </field>
        <field>
        <aggregate>yLead2</aggregate>
        <type>LEAD</type>
        <subject>Y</subject>
        <valuefield>2</valuefield>
        </field>
        <field>
        <aggregate>yLead3</aggregate>
        <type>LEAD</type>
        <subject>Y</subject>
        <valuefield>2</valuefield>
        </field>
        <field>
        <aggregate>yLead4</aggregate>
        <type>LEAD</type>
        <subject>Y</subject>
        <valuefield>4</valuefield>
        </field>
        <field>
        <aggregate>yLag1</aggregate>
        <type>LAG</type>
        <subject>Y</subject>
        <valuefield>1</valuefield>
        </field>
        <field>
        <aggregate>yLag2</aggregate>
        <type>LAG</type>
        <subject>Y</subject>
        <valuefield>2</valuefield>
        </field>
        <field>
        <aggregate>yLag3</aggregate>
        <type>LAG</type>
        <subject>Y</subject>
        <valuefield>3</valuefield>
        </field>
        <field>
        <aggregate>yLag4</aggregate>
        <type>LAG</type>
        <subject>Y</subject>
        <valuefield>4</valuefield>
        </field>
        </fields>
