.project
.classpath
.settings
.factorypath
build
target
release.properties
pom.xml.releaseBackup
*.iml
.idea
bin
*.class
*.jar
*.war
*.ear
.DS_Store
routes.yml
*.tgf

rebel.xml
rebel-remote.xml
out/
logs/
.directory
\.attach*
Pipeline Run Configuration/
Workflow Run Configuration/
Hop Server/
Relational Database Connection/
\.temp-beam-*/
integration-tests/surefire-reports
integration-tests/surefire-reports/spreadsheet/exelwriter-testfile.xlsx
**/*.json.old
yarn-error.log
integration-tests/scripts/*.json

docs/content
docs/public
docs/resources
docs/node_modules
docs/.pnp
docs/.pnp.js
tmp/images

integration-tests/spreadsheet/files/exel-part-001.xlsx
integration-tests/spreadsheet/files/exel-part-002.xlsx
integration-tests/spreadsheet/files/exel-header-test.xlsx
integration-tests/spreadsheet/files/exelwriter-testfile.xls
integration-tests/spreadsheet/files/exel-multi-part_0.xlsx
integration-tests/spreadsheet/files/exel-multi-part_1.xlsx
integration-tests/spreadsheet/files/exel-multi-part_2.xlsx
integration-tests/spreadsheet/files/exel-multi-part_3.xlsx
integration-tests/spreadsheet/files/exel-multi-part_4.xlsx
integration-tests/json/output
integration-tests/mdi/files/excelwriter-mdi-test.xlsx
integration-tests/spreadsheet/files/sample-file-append.xlsx