    <connection>postgres</connection>
        <cache>Y</cache>
        <cache_load_all>Y</cache_load_all>
        <cache_size>123456</cache_size>
        <lookup>
        <schema>SCHEMA</schema>
        <table>TABLE</table>
        <orderby>SOME_FIELD DESC</orderby>
        <fail_on_multiple>Y</fail_on_multiple>
        <eat_row_on_failure>Y</eat_row_on_failure>
        <key>
        <name>id</name>
        <field>id</field>
        <condition>=</condition>
        <name2>id2</name2>
        </key>
        <value>
        <name>uuid1</name>
        <rename>myUuid</rename>
        <default>-</default>
        <type>String</type>
        </value>
        <value>
        <name>uuid2</name>
        <rename>myUuid2</rename>
        <default>-</default>
        <type>Integer</type>
        </value>
        </lookup>
