  <connection>cve-graph</connection>
    <model>CVE</model>
    <batch_size>1000</batch_size>
    <create_indexes>N</create_indexes>
    <returning_graph>N</returning_graph>
    <return_graph_field/>
    <validate_against_model>N</validate_against_model>
    <out_of_order_allowed>Y</out_of_order_allowed>
    <mappings>
    <mapping>
    <source_field>date</source_field>
    <target_type>Node</target_type>
    <target_name>Item</target_name>
    <target_property>date</target_property>
    </mapping>
    <mapping>
    <source_field>desc</source_field>
    <target_type>Node</target_type>
    <target_name>Item</target_name>
    <target_property>desc</target_property>
    </mapping>
    <mapping>
    <source_field>name</source_field>
    <target_type>Node</target_type>
    <target_name>Item</target_name>
    <target_property>name</target_property>
    </mapping>
    <mapping>
    <source_field>seq</source_field>
    <target_type>Node</target_type>
    <target_name>Item</target_name>
    <target_property>seq</target_property>
    </mapping>
    <mapping>
    <source_field>status</source_field>
    <target_type>Node</target_type>
    <target_name>Item</target_name>
    <target_property>status</target_property>
    </mapping>
    <mapping>
    <source_field>type</source_field>
    <target_type>Node</target_type>
    <target_name>Item</target_name>
    <target_property>type</target_property>
    </mapping>
    </mappings>